<tr data-id=<%=_id%>>
          <td data-id=<%=_id%>><%=_id%></td>
          <td ><%=nombre%></td>
          <td ><%=apellido%></td>
          <td ><%=usuario%></td>
          <td ><%=password%></td>
</tr>
